<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

<head>
    <title>Colo Shop Categories</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="Colo Shop Template">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <th:block th:insert="~{common/taglib}"></th:block>
    <th:block th:insert="~{common/scriptslib}"></th:block>
</head>

<body>

    <div class="super_container">

        <!-- -- header -- -->
        <th:block th:insert="~{common/header}"></th:block>
        <!-- -- header -- -->

        <div class="fs_menu_overlay"></div>

        <!-- Hamburger Menu -->

        <div class="hamburger_menu">
            <div class="hamburger_close"><i class="fa fa-times" aria-hidden="true"></i></div>
            <div class="hamburger_menu_content text-right">
                <ul class="menu_top_nav">
                    <li class="menu_item has-children">
                        <a href="#">
                            usd
                            <i class="fa fa-angle-down"></i>
                        </a>
                        <ul class="menu_selection">
                            <li><a href="#">cad</a></li>
                            <li><a href="#">aud</a></li>
                            <li><a href="#">eur</a></li>
                            <li><a href="#">gbp</a></li>
                        </ul>
                    </li>
                    <li class="menu_item has-children">
                        <a href="#">
                            English
                            <i class="fa fa-angle-down"></i>
                        </a>
                        <ul class="menu_selection">
                            <li><a href="#">French</a></li>
                            <li><a href="#">Italian</a></li>
                            <li><a href="#">German</a></li>
                            <li><a href="#">Spanish</a></li>
                        </ul>
                    </li>
                    <li class="menu_item has-children">
                        <a href="#">
                            My Account
                            <i class="fa fa-angle-down"></i>
                        </a>
                        <ul class="menu_selection">
                            <li><a href="#"><i class="fa fa-sign-in" aria-hidden="true"></i>Sign In</a></li>
                            <li><a href="#"><i class="fa fa-user-plus" aria-hidden="true"></i>Register</a></li>
                        </ul>
                    </li>
                    <li class="menu_item"><a href="#">home</a></li>
                    <li class="menu_item"><a href="#">shop</a></li>
                    <li class="menu_item"><a href="#">promotion</a></li>
                    <li class="menu_item"><a href="#">pages</a></li>
                    <li class="menu_item"><a href="#">blog</a></li>
                    <li class="menu_item"><a href="#">contact</a></li>
                </ul>
            </div>
        </div>

        <div class="container-fluid m-0">
            <div class="row">
                <div class="col-3 product_section clearfix">

                    <!-- Breadcrumbs -->

                    <div class="breadcrumbs d-flex flex-row align-items-center">
                        <ul>
                            <li><a th:href="@{/}">Home</a></li>
                            <li class="active"><i class="fa fa-angle-right" aria-hidden="true"
                                    th:text="${all} != null ? 'all' : ${product[0].getGroupProduct().getGroupProductName()}"></i>...
                            </li>
                        </ul>
                    </div>

                    <!-- Sidebar -->

                    <div class="sidebar">
                        <div class="sidebar_section">
                            <div class="sidebar_title">
                                <h5>Product Category</h5>
                            </div>
                            <ul class="sidebar_categories">
                                <th:block th:each="grd : ${grproduct0}">
                                    <li><a th:href="@{/categories/{id}(id=${grd.getGroupProductID()})}"
                                            th:text="${grd.getGroupProductName()}">..</a></li>
                                </th:block>
                            </ul>
                        </div>

                        <!-- Price Range Filtering -->
                        <div class="sidebar_section">
                            <div class="sidebar_title">
                                <h5>Filter by Price</h5>
                            </div>
                            <p>
                                <input type="text" id="amount" readonly
                                    style="border:0; color:#f6931f; font-weight:bold;">
                            </p>
                            <div id="slider-range"></div>
                            <div class="filter_button"><span>filter</span></div>
                        </div>

                        <!-- Sizes -->
                        <div class="sidebar_section">
                            <div class="sidebar_title">
                                <h5>Sizes</h5>
                            </div>
                            <ul class="checkboxes">
                                <li><i class="fa fa-square-o" aria-hidden="true"></i><span>S</span></li>
                                <li class="active"><i class="fa fa-square" aria-hidden="true"></i><span>M</span></li>
                                <li><i class="fa fa-square-o" aria-hidden="true"></i><span>L</span></li>
                                <li><i class="fa fa-square-o" aria-hidden="true"></i><span>XL</span></li>
                                <li><i class="fa fa-square-o" aria-hidden="true"></i><span>XXL</span></li>
                            </ul>
                        </div>

                        <!-- Color -->
                        <div class="sidebar_section">
                            <div class="sidebar_title">
                                <h5>Color</h5>
                            </div>
                            <ul class="checkboxes">
                                <li><i class="fa fa-square-o" aria-hidden="true"></i><span>Black</span></li>
                                <li class="active"><i class="fa fa-square" aria-hidden="true"></i><span>Pink</span></li>
                                <li><i class="fa fa-square-o" aria-hidden="true"></i><span>White</span></li>
                                <li><i class="fa fa-square-o" aria-hidden="true"></i><span>Blue</span></li>
                                <li><i class="fa fa-square-o" aria-hidden="true"></i><span>Orange</span></li>
                                <li><i class="fa fa-square-o" aria-hidden="true"></i><span>White</span></li>
                                <li><i class="fa fa-square-o" aria-hidden="true"></i><span>Blue</span></li>
                                <li><i class="fa fa-square-o" aria-hidden="true"></i><span>Orange</span></li>
                                <li><i class="fa fa-square-o" aria-hidden="true"></i><span>White</span></li>
                                <li><i class="fa fa-square-o" aria-hidden="true"></i><span>Blue</span></li>
                                <li><i class="fa fa-square-o" aria-hidden="true"></i><span>Orange</span></li>
                            </ul>
                        </div>
                    </div>
                </div>

                <div class="col">
                    <div class="row main_content">
                        <th:block th:each="prd: ${product}">
                            <div class="col-3 p-2">
                                <div>
                                    <div class="product_image">
                                        <img th:src="${prd.getImage()}">
                                    </div>
                                    <div class="favorite favorite_left"></div>
                                    <div
                                        class="product_bubble product_bubble_right product_bubble_red d-flex flex-column align-items-center">
                                        <span th:text="${prd.getDiscount()}">..</span>
                                    </div>
                                    <div class="product_info">
                                        <h6><a href="single.html" th:text="${prd.getProductName()}">...</a></h6>
                                        <div class="product_price" th:text="${prd.getPrice()}">...<span
                                                th:text="${prd.getPriceOld()}">...</span></div>
                                    </div>
                                </div>
                                <div class="text-center btn btn-outline-success" style="display: block;"><a th:href="@{/cart/{action}?id={cartId}(action='add', cartId=${prd.getProductID()})}">add
                                        to cart</a></div>
                            </div>
                        </th:block>



                    </div>
                </div>
            </div>
        </div>
    </div>
    </div>
    </div>

    <!-- Footer -->
    <th:block th:insert="~{common/footer}"></th:block>
    <!-- Footer -->

    </div>


</body>

</html>